@{
    ViewData["Title"] = "About";
}
<div class="col p-3 rounded-3 bg-dark text-light" style="border:solid black 1px;">

    <p>
        <img src="/Images/SCPposter_01.jpg" alt="gizmo" class="img-thumbnail float-right ml-3" style="max-width:45%; border:black solid 2px;">
        <h1 style="text-decoration:underline;">What is the SCP Foundation?</h1>

        SCP is an abbreviation for the words "Secure. Contain. Protect." that shields mankind from "anomalies," harmful or not,
        that exists in the world, in the system, or in the universe.<br><br>

        The SCP Foundation is a globally-led initiative. Its highest priority is the prevention of having humankind revert to 
        the "dark ages," a time where humans once came to be. The foundation firmly ensures that the "Normal Life" is 
        not disturbed among the masses. As a result, most of the Foundation's actions may seem cold and unapologetic since 
        lives aren't valued as much when they stand in the way of the Foundation's objectives. Some of these major objectives 
        are not only to protect humankind but the Earth, the Universe and even reality itself. It is a major organization with 
        a number of laboratories, facilities, and networks capable of securing, containing, or even destroying these anomalies 
        that are individually named as "SCP" followed by a given coded number (such as SCP-173, SCP-049). SCPs are subjectively 
        also called "Skips."<br><br>

        SCP can be almost anything: from the smallest of material like a coin or a doorknob, to even colossal underwater and extraterrestrial 
        entities. Some are even quirky like the term "Memetics" or anomalies that exist in the digital world.<br><br>

        Each anomaly is unique, and each unique anomaly requires a special containment procedure because the bottom line is that almost
        all of them offer a wide range of spectrum of risks for harming mankind.<br><br>

        Keep in mind that the Foundation is also responsible for locating/relocating and containing/re-containing individuals, entities, 
        locations, and objects that seem to otherwise violate natural laws and orders. Think of them as the mistakes created by an 
        omnipotent being existing in a physical plane, but at the same time, these things shouldn't exist in the first place.<br><br>
    </p>
</div>
